EventMgmtClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EventMgmtServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetParticipants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipants" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParticipants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParticipant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipant" />
  </wsdl:message>
  <wsdl:message name="IService1_GetParticipant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteParticipant_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParticipant" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteParticipant_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParticipantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenues" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenue" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVenue" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOrganizer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizer" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOrganizer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistrations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistrations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistration" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistration" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetParticipants">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetParticipants" message="tns:IService1_GetParticipants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetParticipantsResponse" message="tns:IService1_GetParticipants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetParticipant" message="tns:IService1_GetParticipant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetParticipantResponse" message="tns:IService1_GetParticipant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParticipant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteParticipant" message="tns:IService1_DeleteParticipant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteParticipantResponse" message="tns:IService1_DeleteParticipant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVenues" message="tns:IService1_GetVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVenuesResponse" message="tns:IService1_GetVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVenue" message="tns:IService1_GetVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVenueResponse" message="tns:IService1_GetVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteVenue" message="tns:IService1_DeleteVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteVenueResponse" message="tns:IService1_DeleteVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrganizers" message="tns:IService1_GetOrganizers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrganizersResponse" message="tns:IService1_GetOrganizers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrganizer" message="tns:IService1_GetOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrganizerResponse" message="tns:IService1_GetOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOrganizer" message="tns:IService1_DeleteOrganizer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteOrganizerResponse" message="tns:IService1_DeleteOrganizer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvents" message="tns:IService1_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventsResponse" message="tns:IService1_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEvent" message="tns:IService1_GetEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventResponse" message="tns:IService1_GetEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEvent" message="tns:IService1_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEventResponse" message="tns:IService1_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRegistrations" message="tns:IService1_GetRegistrations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRegistrationsResponse" message="tns:IService1_GetRegistrations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRegistration" message="tns:IService1_GetRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRegistrationResponse" message="tns:IService1_GetRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRegistration" message="tns:IService1_DeleteRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRegistrationResponse" message="tns:IService1_DeleteRegistration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetParticipants">
      <soap:operation soapAction="http://tempuri.org/IService1/GetParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipant">
      <soap:operation soapAction="http://tempuri.org/IService1/GetParticipant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParticipant">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteParticipant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenues">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenue">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVenue">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrganizers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizer">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOrganizer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistration">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistration">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EventMgmtServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>